# Node dependencies
node_modules/

# Security and Keys
.env
.env.local
firebase-config.js

# Leftover Firebase files
.firebase/
firebase.json
.firebaserc

# Mac system files
.DS_Store

# Editor config (no reason to deploy)
.vscode/
.idea/

# TypeScript dev files
typings/
*.d.ts

# Build artifacts
dist/
.vercel/